@font-face {
    font-family: 'GOOGLESANS-REGULAR';
    src: url('OpenSans-Regular.ttf');

}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('FontsFree-Net-Montserrat-Black.ttf');

}
@font-face {
    font-family: 'GOOGLESANS-BOLD_0';
    src: url('OpenSans-Bold.ttf');

}
